
*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(195, 246, 246); */
    /* margin: 0px 0px; */
    /* padding: 0px 0px; */
    background-repeat: no-repeat;
    /* background-image:url("../images/backgroundimg.webp"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2017/06/21/14/40/weightlifting-2427461_1280.jpg"); */
    /* background-size:  ; */
    background: url('../images/backgroundweight.jpg');
}

.logo img{
    height: 32px;
    width: 97px;
    border: 2px soild black;
    margin-left: 7px;
    margin-top: 5px;

}
.header{
    margin-top:0px;
    display: inline;
}
header{
    border-radius: 4px;
    /* background-color:rgb(219, 242, 248); */
    
}
.logo{
    position: relative;
    float: left;
    padding-bottom: 2px;
    filter: invert();
}
.navbar{ 
    position: inherit;
     display: inline;
    color:rgb(246, 180, 227);
    text-decoration: none;
     margin-left: 1S0px; 
     text-align: center;
    float:right ; 
     block-size: 1px;
     } 
li{
    font-weight: bold;
    font-size: larger;
    float: right;
    padding-right: 10px;
    margin-right:17px ;
    list-style: none;
    margin-top: 3px;
   /* display:inline; */
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: #cff5f7;
}
hr{
    /* border-color: 1px solid black; */
}
footer{
    
    position: fixed;
    left: 0px;
    bottom:0px ;
    color:#cff5f7;
}
.form{
    display: inline-block;
    /* border: 2px solid orange;s */
    margin: 15px;
    padding: 140;
    box-sizing: border-box;
}
/* .imgcon{
    display: inline-block;
    box-sizing: border-box;
/* position: relative; */
/* border: 2px soild green; */
/* } */
/* .imgcon p{ */
    /* display: inline-block; */
/* } */
main label{
    font-size: 15px;
    color :#cff5f7;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.btn{
    margin-top: 5px;
        border-width: 2px;
        margin-left: 30px;
        color: black;
        font-size: 16px;
        background-color: #c6f5f7;
        cursor: pointer;
        border-radius: 12px;
        padding: 2px 43px;
}
.btn:hover{
    color:#85ecf0 ;
    border: 1px solid red;
} 
#name{
        padding-right: 14px;
        color: #cff5f7;
}
#contact{
    padding-right: 3px;
}
main h3{
    text-align: center;
    color: #cff5f7;
}
main form label{
margin-right: 3px;
}

.shiftleft{
    display: flex;
float: right;
}